body{
  background-image: url('../img/background.jpg');
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: 300%;
}
.header{
  background-color: rgba(0,0,0,0.4);
  margin: auto;
  padding: 20px;
  text-align: center;
  color: rgb(129,205,101);
  text-shadow: 0 0 7px rgb(129,205,101),
  0 0 10px rgb(129,205,101),
  0 0 21px rgb(129,205,101),
  0 0 42px #0fa,
  0 0 82px #0fa,
  0 0 92px #0fa;
  font-family: 'Press Start 2P', cursive;
}
.container-fluid{
  background-color: rgba(0,0,0, 0.8);
  color: rgb(129,205,101);
  font-family: 'Orbitron', sans-serif;
}
.button{
  margin-top: 10px;
  margin-bottom: 10px;
}
button{
  background-color: black;
  color: rgb(129,205,101);
  border: rgb(129,205,101) 5px solid;
  
}
label{
  margin: 10px;
}
button:active{
  background-color: rgb(129,205,101);
  color: black;
  border: black 5px solid;
}
.result{
  display: none;
}
#javaScript{
  display: none;
}
#python{
  display: none;
}
#cSharp{
  display: none;
}